body {
    background-color: black;
}

div {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

h1 {
    color: white;
    font-family: 'Libre Baskerville', serif;
    font-size: 2rem;
    text-transform: uppercase;
}

h2 {
    margin: 0;
    color: white;
    font-family: 'Libre Baskerville', serif;
    font-size: 2rem;
}

img {
    border: 5px solid gold;
    width: 100%;
}